@model Vin.Sample.Web.Models.PostsViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var post = Model.Posts.First();
}

<div class="section-header">
    <div class="container">
        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Blog</h1>
            </div>

        </div>
    </div> <!-- /.container -->
</div> <!-- /.section-colored -->

<div class="container container-int">
    @{Html.RenderAction("RenderShareBar", "Cms");}

    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Blog</a></li>
        <li class="active">@post.Title</li>
    </ol>

    <div class="row">

        <div class="col-md-8 col-sm-8">

            <div class="post">
                <h1 class="post-title"><a href="javascript:void(0);">@post.Title</a></h1>
                <p class="post-meta">
                    <i class="fa fa-calendar-o first"></i> @post.PublishDate.Value.ToString("f")
                    @*<i class="fa fa-user"></i> Admin
                    <i class="fa fa-comment"></i> <a href="#">2 comments</a>*@
                </p>
                @if (!string.IsNullOrEmpty(post.HeaderImage))
                {
                    <div class="img-post">
                        <img src="@post.HeaderImage" alt="post 1" class="img-responsive">
                    </div>
                }

                @Html.Raw(post.HtmlBody)
            </div><!-- /.post -->
            
            @if (Model.CommentsEnabled)
            {
                <!-- the comment box -->
                <div class="well">
                    <h4>Leave a Comment:</h4>
                    <form role="form">
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

                <hr>

                <h3>2 Comments</h3>

                <!-- the comments -->
                <div class="comment-author-icon pull-left">
                    <i class="fa fa-user"></i>
                </div>
                <div class="comment-content pull-left">
                    <h4>John Doe <small>9:41 PM on January 24, 2014</small></h4>
                    <p>Lorem ipsum Eiusmod do culpa enim ullamco officia dolor anim Ut nulla nostrud incididunt commodo reprehenderit qui exercitation commodo velit dolore voluptate esse sunt nulla eiusmod in cillum fugiat cillum nulla consequat qui reprehenderit pariatur Ut elit sed culpa amet.</p>
                </div>
                <div class="clearfix"></div>

                <div class="comment-author-icon pull-left">
                    <i class="fa fa-user"></i>
                </div>
                <div class="comment-content pull-left">
                    <h4>John Doe <small>12:28 PM on January 27, 2014</small></h4>
                    <p>Lorem ipsum Eiusmod do culpa enim ullamco officia dolor anim Ut nulla nostrud incididunt commodo reprehenderit qui exercitation commodo velit dolore voluptate esse sunt nulla eiusmod in cillum fugiat cillum nulla consequat qui reprehenderit pariatur Ut elit sed culpa amet.</p>
                </div>
                <div class="clearfix"></div>
            }

        </div>

        <div class="col-md-4 col-sm-4 sidebar">
            <div class="well">
                <h4>Search</h4>
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.well -->
            @if (Model.Categories.Count() > 0)
            {
                <div class="well">
                    <h4>Categories</h4>
                        <ul class="nav nav-stacked nav-pills">
                            @foreach (var cat in Model.Categories)
                            {
                                <li><a href="?cat=@cat">@cat</a></li>
                            }
                        </ul>
                </div><!-- /.well -->
            }
            <!-- TODO: recent news / popular news -->
            @if (Model.ShowPopularPosts || Model.ShowRecentPosts)
            {
                <ul class="nav nav-tabs" id="widgetTab">
                    @if (Model.ShowRecentPosts && Model.RecentPosts.Count() > 0)
                    {
                    <li class="active"><a href="#latest-news" data-toggle="tab">Recent News</a></li> }
                    @if (Model.ShowPopularPosts && Model.PopularPosts.Count() > 0)
                    {
                    <li><a href="#popular-news" data-toggle="tab">Popular News</a></li> }
                </ul>

                <div class="tab-content">
                    @if (Model.ShowPopularPosts && Model.RecentPosts.Count() > 0)
                    {
                        <div class="tab-pane fade in active list-posts" id="latest-news">
                            <ul>
                                @foreach (var p in Model.RecentPosts)
                                {
                                    <li><a href="/@p.Url"><i class="fa fa-caret-right"></i> @p.TextBody.Substring(0, p.TextBody.Length >= 150 ? 150 : p.TextBody.Length)</a></li>
                                }
                            </ul>
                        </div>
                    }

                    @if (Model.ShowPopularPosts && Model.PopularPosts.Count() > 0)
                    {
                        <div class="tab-pane fade list-posts" id="popular-news">
                            <ul>
                                @foreach (var p in Model.PopularPosts)
                                {
                                    <li><a href="/@p.Url"><i class="fa fa-caret-right"></i> @p.TextBody.Substring(0, p.TextBody.Length >= 150 ? 150 : p.TextBody.Length)</a></li>
                                }
                            </ul>
                        </div>
                    }
                </div><!-- /.tab-content -->
            }

            @if (Model.Tags.Count() > 0)
            {
                <div class="well">
                    <h4>Tags</h4>

                    <div class="tags">
                        @foreach (var tag in Model.Tags)
                        {
                            <a href="?tag=@tag">@tag</a>
                        }
                    </div><!-- /tags -->
                </div><!-- /.well -->
            }

        </div><!-- /.sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->